{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATIO</title>
    <link rel="stylesheet" href="{% static "css/homePage.css" %} ">
    <link rel="stylesheet" href="{% static "css/slider.css" %} ">
    <link rel="stylesheet" href="{% static "css/product.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="icon" href="https://yt3.ggpht.com/a/AGF-l78km1YyNXmF0r3-0CycCA0HLA_i6zYn_8NZEg=s900-c-k-c0xffffffff-no-rj-mo" type="image/gif" sizes="16x16">
    <!-- EXTERNAL LINKS -->
    <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


</head>
<body>

    <section class="homePage">
        <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
            <div class="container">
                <div class="navbar-translate">
                    <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CREATIO</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter"></i>
                                <p class="hidden-lg-up">Twitter</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                                <p class="hidden-lg-up">Facebook</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram"></i>
                                <p class="hidden-lg-up">Instagram</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/" target="_blank">
                                <i class="fa fa-github"></i>
                                <p class="hidden-lg-up">GitHub</p>
                            </a>
                        </li>
                        {%if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="/cart" target="_blank">
                                <i class="fa fa-shopping-cart"></i>
                                <p class="hidden-lg-up">CART</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="ORDERS" data-placement="bottom" href="/orders/" target="_blank">
                                <i style='font-family:Sans-serif;'>ORDERS</i>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="/accounts/login" target="_blank">
                                <i class="fa fa-shopping-cart"></i>
                                <p class="hidden-lg-up">CART</p>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            {%if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="btn btn-danger btn-round">LogOut</a>

                            {% else %}
                            <a href="/accounts/login" class="btn btn-danger btn-round">LogIn</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="page-header section-dark" style="background-image: url('https://wallpaperaccess.com/full/7263109.jpg')">
                <div class="filter"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="title-brand">
                            <h1 class="presentation-title" style="width:100%;">CREATIO</h1>
                            <div class="fog-low">
                                <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                            </div>
                            <div class="fog-low right">
                                <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                            </div>
                        </div>
    
                        <h2 class="presentation-subtitle text-center">WEAR YOUR LEGEND</h2>
                    </div>
                </div>
                <div class="moving-clouds" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png'); ">
    
                </div>
            </div>
      </div>
    </section>
    
    <section class="slider">
        <div id="containerSlider">
            <div>
                <img src="{% static "img/image1.png" %}" alt="image1">
            </div>
            <div>
                <img src="{% static "img/image2.png" %}" alt="image2">
            </div>
            <div>
                <img src="{% static "img/image3.png" %}" alt="image3">
            </div>
            <div>
                <img src="{% static "img/image4.png" %}" alt="image4">
            </div>
        </div>

    </section>


    <section class="main-products">

        <div id="mainContainer">

            <div id="clothingSection">
                <h1 class="product-main-title">PRODUCTS</h1>
                <div id="containerClothing">
                    <!-- JS rendered code -->

                    {% for i in products %}
                    <div id="box">
                        <a href="{% url 'product_detail' i.id %}">
                            <img src="{{i.main_image.url}}">
                            <div id="details">
                                <h3>{{i.name}}</h3>
                                <br>
                                <h2 >{{i.price}}</h2>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                    <!-- Repeat similar blocks for other clothing items -->
                </div>
            </div>
        
            
        
        </div>
        

    </section>

    <!-- About 7 - Bootstrap Brain Component -->
    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h2 class="mb-4 display-5 text-center" style="text-decoration: underline;">About Us</h2>
            <p class="text-secondary mb-5 text-center lead fs-4">We believe in the power of stories. Our creative team works passionately to design unique t-shirts that reflect your personal journey and style.
            </p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
        </div>
    
        <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
            <img class="img-fluid rounded border border-dark" loading="lazy" src="{% static "img/about.PNG" %}" alt="About Us">
            </div>
            <div class="col-12 col-lg-6 col-xxl-6">
            <div class="row justify-content-lg-end">
                <div class="col-12 col-lg-11">
                <div class="about-wrapper">
                    <p class="lead mb-4 mb-md-5"style="text-align:center;">Welcome to Creatio, where every t-shirt tells a story.

                        At Creatio, we believe your clothes should show who you are. Each t-shirt we make has a unique story, reflecting your experiences and passions.
                        
                        We focus on quality and creativity. Our t-shirts are made from high-quality materials to be comfortable and last long. Our designs are meant to connect with you and tell your story.
                        
                        With Creatio, you're not just wearing a t-shirt; you're wearing a story.
                        
                        </p>
                    <div class="row gy-4 mb-4 mb-md-5" style="display: flex; justify-content:center;">
                        <div class="col-12 col-md-6">
                            <div class="card border border-dark">
                            <div class="card-body p-4">
                                <h3 class="display-5 fw-bold text-primary text-center mb-2">24 h<br><i class='fa fa-phone'></i></h3>
                                <p class="fw-bold text-center m-0">CONTACT US</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <a href="/accounts/register" class="btn btn-primary bsb-btn-2xl">
                    SignUp
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                    </svg>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
  </section>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #929fba; width:100%; padding: 30px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">CREATIO</h6>
                    <p>
                        At Creatio, we believe that every t-shirt should tell a unique story. Our collection features high-quality, creatively designed t-shirts that reflect your personal journey and passions. Each piece is crafted with care to ensure comfort and durability, allowing you to wear your story proudly.
                    </p>
                </div>
    

    
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fa fa-home mr-3"></i> Egypt, cairo</p>
                    <p><i class="fa fa-envelope mr-3"></i> mohamwedwael528@gmail.com</p>
                    <p><i class="fa fa-phone mr-3"></i> +201026671593</p>
                </div>
    
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#"><i class="fa fa-google"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
    
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Copyright:
                <a class="text-white" href="https://www.facebook.com/profile.php?id=100007597125898">Created By <span style="font-style:under-line">@mohamed wael </span></a>
            </div>
    </footer>
    
    <!-- Footer -->
    </div>
<!-- End of .container -->







      <script src="{% static 'js/homePage.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <script src="{% static 'js/slider.js' %}"></script>
</body>


</html>